.DS_Store
*/.DS_Store
*_OUTPUT_*
*.dSYM
garisom205
main
run
env/*
cottonwood_leafcooling2023/
aspen_lowstress_data/
populus-tremuloides_garisom_test_files/
highstress_data/
.vscode/
*.o
sum_output.csv
timesteps_output.csv

!/02_program_code/example_out/*